/*
 *= require_tree .
 *= require_self
 */
 
.bg-primary-color {
    background-color: #d7f1f4;
    background-image: linear-gradient(0deg, #d7f1f4 0%, #eeddee 100%);
}
#homepage .bg-secondary-color {
    background-color: #c2d9d7;
}
.label {
    width: 6rem;
}
.reg-label {
    width: 10rem;
}
.greeter {
        width: 60%;
    }
@media (max-width: 992px) {
    #homepage {
        .greeter {
            width: 100%;
        }
        .home-title {
            font-size: 5vw;
            span {
                font-size: 5.1vw;
            }
        }
    }
}

/* ****** NAVBAR ****** */
.title {
    font-size: 2rem;
    line-height: 1em;
    span {
        font-size: 2.1rem;
    }
}
.navbar-dark #custom-nav .nav-link.active {
    color: rgba(255,255,255,1);
    &:hover {
        color: rgba(255,255,255,1);  
    }
}
.navbar-dark #custom-nav .nav-link {
    color: rgba(255,255,255,.7);
    &:hover {
        color: rgba(255,255,255,.85);  
    }
}
.navbar-dark #custom-nav .custom-btn {
    color: rgba(255,255,255,1);
    &:hover {
        color: rgba(255,255,255,1);  
    }
}
#custom-nav {
    min-width: 70%;
}
.custom-nav {
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}
 .styled-btn {
    box-shadow: 2px 2px 2px rgba(#444444, 1);
}
.option-btn {
    box-shadow: 2px 2px 2px rgba(#444444, 0.8);
}
@media (max-width: 576px) {
    .app {
        font-size: .9em;
    }
    .title {
        font-size: 5.5vw;
        span {
            font-size: 5.8vw;
        }
    }
    .navbar-dark img {
        height: 40px;
        width: 40px;
    }
    #custom-menu {
        width: 100%;
        .option-btn {
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    .title {
        font-size: 5vw;
        span {
            font-size: 5.5vw;
        }
    }
    .navbar-dark img {
        height: 30px;
        width: 30px;
    }
}
/* ****** RECIPE VIEW ****** */
.instruction {
    width: 65%;
}
.ingredients {
    width: 35%;
}
.comment {
    p {
        font-size: .9rem;
    }
}

/* ****** RECIPES VIEW ****** */
.hero {
    width: 100vw;
    height: 40vh;
}
.hero img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
}
.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.6;
}
@media (max-width: 576px) {
    h1.hero-text {
        font-size: 5.5vw;
    }
    .hero {
        height: 30vw;
    }
}
@media (max-width: 400px) {
    h1.hero-text {
        font-size: 5vw;
    }
    .hero {
        height: 25vw;
    }
}
.home-title {
    span {
        font-size: 3.7rem;
    }
}

